extends ../layout

block content
  // START: PAGE TITLE
  .rpw.page-title
    .container.clear-padding.text-center
      h3 #{ package.title }
      h4 6天/5晚
      span
        | 北京(0)
        i.fa.fa-long-arrow-right
        | 东京 (5)
        i.fa.fa-long-arrow-right
        | 北京
  // END: PAGE TITLE
  .row.package-detail
    .container.clear-padding
      .main-content.col-md-8
        // START: GALLERY
        #gallery.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#gallery', data-slide-to='0')
            li(data-target='#gallery', data-slide-to='1')
            li(data-target='#gallery', data-slide-to='2')
          .carousel-inner(role='listbox')
            .item.active
              img(src='#{package.thumbnails[0]}', alt='SkyStarStudio')
            .item
              img(src='#{package.thumbnails[1]}', alt='SkyStarStudio')
            .item
              img(src='#{package.thumbnails[2]}', alt='SkyStarStudio')
          a.left.carousel-control(href='#gallery', role='button', data-slide='prev')
            span.fa.fa-chevron-left(aria-hidden='true')
            span.sr-only 上一页
          a.right.carousel-control(href='#gallery', role='button', data-slide='next')
            span.fa.fa-chevron-right(aria-hidden='true')
            span.sr-only 下一页
        .package-complete-detail
          ul.nav.nav-tabs
            li
              a(href='#overview', data-toggle='tab')
                i.fa.fa-suitcase
                span  概览
            li
              a(href='#inclusion', data-toggle='tab')
                i.fa.fa-check-square
                span  包含内容
            li.active
              a(href='#itinerary', data-toggle='tab')
                i.fa.fa-street-view
                span  线路
            li
              a(href='#add-info', data-toggle='tab')
                i.fa.fa-info-circle
                span  附加信息
          .tab-content
            #overview.tab-pane.fade
              h4.tab-heading 概述
              p
                | #{package.abstract}
              h4.tab-heading 费用包含
              p.inc
                - each tag in package.inclusion
                  i.fa.fa-check-square
                  |  #{tag}
                  br
              h4.tab-heading 费用不包含
              p.inc
                - each tag in package.exclusion
                  i.fa.fa-times-circle-o
                  |  #{tag}
                  br
            #inclusion.tab-pane.fade
              h4.tab-heading 包含内容
              .inclusion-wrapper
                .inclusion-title
                  p
                    span
                      i.fa.fa-bed
                    | 酒店
                .inclusion-body
                  - each hotel in package.hotels
                    h4 #{hotel.duration}晚
                    .col-md-3.col-sm-3.clear-padding
                      img(src='/front/images/media/detail/TheEdoSakura.png', alt='#{hotel.name}')
                    .col-md-9.col-sm-9
                      h5 #{hotel.title}
                      p 出门步行5分钟就可以达到地铁入谷站, 出行十分方便. 房间很新, 非常有日式风情, 而且干净整洁, 周围环境很安静.
                    .clearfix
              //.inclusion-wrapper
              //  .inclusion-title
              //    p
              //      span
              //        i.fa.fa-plane
              //      | 交通
              //  .inclusion-body
              //    h4 往返航班
              //    .flight-inclusion
              //      .col-md-2.col-sm-2.col-xs-2.text-center
              //        img(src='/front/images/airline/airline.jpg', alt='')
              //      .col-md-3.col-sm-3.col-xs-3.text-center
              //        p 北京国际机场
              //      .col-md-4.col-sm-4.col-sm-4.text-center
              //        i.fa.fa-long-arrow-right
              //      .col-md-3.col-sm-3.col-xs-3.text-center
              //        p 东京羽田机场
              //    .clearfix
              //    .flight-inclusion
              //      .col-md-2.col-sm-2.col-xs-2.text-center
              //        img(src='/front/images/airline/airline.jpg', alt='')
              //      .col-md-3.col-sm-3.col-xs-3.text-center
              //        p 东京羽田机场
              //      .col-md-4.col-sm-4.col-xs-4.text-center
              //        i.fa.fa-long-arrow-right
              //      .col-md-3.col-sm-3.col-xs-3.text-center
                      p 北京国际机场
              //.inclusion-wrapper
              //  .inclusion-title
              //    p
              //      span
              //        i.fa.fa-suitcase
              //      | 其他包含内容
              //  .inclusion-body
              //    p.inc
              //      i.fa.fa-check-circle
              //      |  保险
              //      br
              //      i.fa.fa-check-circle
              //      |  随身WIFI
              //      br
              //      i.fa.fa-check-circle
              //      |  路书
              //      br
            #itinerary.tab-pane.fade.in.active
              h4.tab-heading 旅行线路
              - each schedule in package.detail
                .daily-schedule
                  .title
                    p
                      span 第#{schedule.date}天
                      | #{schedule.title}
                  .daily-schedule-body
                    .col-md-4.col-sm-4
                      img(src='#{schedule.thumbnail}')
                    .col-md-8.col-sm-8
                      p
                        | #{schedule.detail}
                    .clearfix
                    .col-md-12.activity
                      h4 包括:
                      - each tag in schedule.attractions
                        .col-md-6.col-sm-6
                          p
                            i.fa.fa-check-square
                            |  #{tag}
                      -
                      .clearfix
              -
            #add-info.tab-pane.fade
              h4.tab-heading 包含
              p.inc
                - each tag in package.inclusion
                  i.fa.fa-check-circle
                  |  #{tag}
                  br
              h4.tab-heading 不包含
              p.inc
                - each tag in package.exclusion
                  i.fa.fa-times-circle
                  |  #{tag} &nbsp;
                  br
      .col-md-4.package-detail-sidebar
        .col-md-12.sidebar-wrapper.clear-padding
          .package-summary.sidebar-item
            h4
              i.fa.fa-bookmark
              |  线路信息
            .package-summary-body
              h5
                i.fa.fa-heart
                |  主题
              p
                - each tag in package.tags
                  | #{tag + ' '}
              h5
                i.fa.fa-map-marker
                |  出发地
              p #{package.city}
              h5
                i.fa.fa-globe
                |  途经&目的地
              p #{package.city}
            .package-summary-footer.text-center
              .col-md-6.col-sm-6.col-xs-6.price
                h5 基础起步价
                h5 #{package.price}元/人
              .col-md-6.col-sm-6.col-xs-6.book
                a(href='#') 立即预定
          .sidebar-booking-box
            h3.text-center 预定行程
            .booking-box-body
              form
                .col-md-12.col-sm-12.col-xs-12
                  label 出发日期
                  .input-group.margin-bottom-sm
                    input#check_in.form-control(type='text', name='check_in', placeholder='YYYY/MM/DD')
                    span.input-group-addon
                      i.fa.fa-calendar.fa-fw
                .col-md-12.col-sm-12.col-xs-12
                  label 天数
                  select.selectpicker(name='rooms')
                    option 5天
                .col-md-6.col-sm-6.col-xs-6
                  label 成人
                  select.selectpicker(name='adult')
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                    option 6
                .col-md-6.col-sm-6.col-xs-6
                  label 儿童(12岁以下)
                  select.selectpicker(name='child')
                    option 0
                    option 1
                    option 2
                    option 3
                    option 4
                .room-price
                  .col-md-8.col-sm-8.col-xs-8
                    label
                      input(type='checkbox', name='double')
                      span  双床房
                .clearfix
                .room-price
                  .col-md-8.col-sm-8.col-xs-8
                    label
                      input(type='checkbox', name='king')
                      span  大床房
                .clearfix
                .grand-total.text-center
                  .col-md-6.col-sm-6.col-xs-6
                    h4 共计 8000 元
                  .col-md-6.col-sm-6.col-xs-6
                    button(type='submit') 预定